html, * {
    font-family: helvetica;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/28/94/54/1000_F_228945405_SurPZeqg7U4j97vMlTdIh1t9IV2tfmny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  .left-screen {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
  }
  .title-box {
    text-align: center;
    background-color: #C0C2C9;
    border: 5px solid #6A5ACD;
    border-radius: 25px;
  }
  .event-box {
    grid-row: 3/4;
    background-color: #fadb6f;
    text-align: center;
    border-bottom-left-radius: 25px ;
    border-top-left-radius: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .right-screen {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 96px 1fr 100px;
  }
  .track {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 1fr 1fr;
    background-color: tan;
    border-left: 10px solid #aa6b09;
    border-right: 10px solid #aa6b09;

  }
  .start-box {
    grid-column: 2/3;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 10px solid #aa6b09;
    border-left: 10px solid #aa6b09;
    border-right: 10px solid #aa6b09;
    border-bottom: 5px solid white;
  }
  .finish-box {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    background-color: red;
    justify-content: center;
    border-bottom: 10px solid #aa6b09;
    border-left: 10px solid #aa6b09;
    border-right: 10px solid #aa6b09;
    border-top: 5px solid white;
  }
 #player-pawn {
    align-self: flex-end;
    height: 35px;
    width: 20px;
    order: 1;
 }
 #computer-pawn {
    align-self: flex-end;
    height: 35px;
    width: 45px;
    order: 3;
 }
 .start-box > h3 {
    align-self: center;
    order: 2;
 }
 .finish-box > h3 {
    align-self: center;
 }
 #loser-screen {
  text-align: center;
  Color: White;
  background-size: auto;
  grid-column: span 2;
  background-image: url('https://img.freepik.com/fre-vector/game-with-glitch-effect_225004-661.jpg?w=2000&t=st=1678284441~exp=1678285041~hmac=e1c684ea75b4bea8d15f8550be1c40c6aa5f35d0abcb0b113466931090cac4e8');
  background-size: cover;
  /* background-repeat: no-repeat; */
 }
 #winner-screen {
  text-align: center;
  Color: red;
  background-size: auto;
  grid-column: span 2;
  background-image: url('https://cdn.vectorstock.com/i/1000x1000/38/69/you-have-won-rubber-stamp-vector-12323869.webp');
  background-size: cover;
  background-repeat: no-repeat;
 }
 .tooltip {
  position: relative;
  display: inline-block;
 }

 .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 1;
 }

 .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}