html, * {
    font-family: helvetica;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
<<<<<<< HEAD
=======
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/28/94/54/1000_F_228945405_SurPZeqg7U4j97vMlTdIh1t9IV2tfmny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
>>>>>>> 2cf2c12 (Added win condition,movement of game pieces, events, UI, and fixed spelling errors')
  }
  .left-screen {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
  }
  .title-box {
    text-align: center;
<<<<<<< HEAD
    background-color: grey;
    border: 5px solid red;
  }
  .event-box {
    grid-row: 3/4;
    background-color: green;
=======
    background-color: #C0C2C9;
    border: 5px solid #6A5ACD;
    border-radius: 25px;
  }
  .event-box {
    grid-row: 3/4;
    background-color: #fadb6f;
    text-align: center;
    border-bottom-left-radius: 25px ;
    border-top-left-radius: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
>>>>>>> 2cf2c12 (Added win condition,movement of game pieces, events, UI, and fixed spelling errors')
  }

  .right-screen {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
<<<<<<< HEAD
    grid-template-rows: 100px 1fr 100px;
=======
    grid-template-rows: 96px 1fr 100px;
>>>>>>> 2cf2c12 (Added win condition,movement of game pieces, events, UI, and fixed spelling errors')
  }
  .track {
    grid-column: 2/3;
    grid-row: 2/3;
<<<<<<< HEAD
    background-color: tan;
=======
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 1fr 1fr;
    background-color: tan;
    border-left: 10px solid #aa6b09;
    border-right: 10px solid #aa6b09;

>>>>>>> 2cf2c12 (Added win condition,movement of game pieces, events, UI, and fixed spelling errors')
  }
  .start-box {
    grid-column: 2/3;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
=======
    border-top: 10px solid #aa6b09;
    border-left: 10px solid #aa6b09;
    border-right: 10px solid #aa6b09;
    border-bottom: 5px solid white;
>>>>>>> 2cf2c12 (Added win condition,movement of game pieces, events, UI, and fixed spelling errors')
  }
  .finish-box {
    grid-column: 2/3;
    grid-row: 3/4;
<<<<<<< HEAD
    background-color: red;
=======
    display: flex;
    background-color: red;
    justify-content: center;
    border-bottom: 10px solid #aa6b09;
    border-left: 10px solid #aa6b09;
    border-right: 10px solid #aa6b09;
    border-top: 5px solid white;
>>>>>>> 2cf2c12 (Added win condition,movement of game pieces, events, UI, and fixed spelling errors')
  }
 #player-pawn {
    align-self: flex-end;
    height: 35px;
    width: 20px;
    order: 1;
 }
 #computer-pawn {
    align-self: flex-end;
    height: 35px;
    width: 45px;
    order: 3;
 }
 .start-box > h3 {
    align-self: center;
    order: 2;
 }
 .finish-box > h3 {
    align-self: center;
<<<<<<< HEAD
    padding-left: 200px;
    padding-top: 20px;;
=======
 }
 #loser-screen {
  text-align: center;
  Color: red;
  background-size: auto;
  grid-column: span 2;
  background-image: url('https://i.pinimg.com/564x/7f/a9/cf/7fa9cf25a4afb731f571c505ed9ba503.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 }
 #winner-screen {
  text-align: center;
  Color: red;
  background-size: auto;
  grid-column: span 2;
  background-image: url('https://i.pinimg.com/564x/7f/a9/cf/7fa9cf25a4afb731f571c505ed9ba503.jpg');
  background-size: cover;
  background-repeat: no-repeat;
>>>>>>> 2cf2c12 (Added win condition,movement of game pieces, events, UI, and fixed spelling errors')
 }